name: Deploy to Azure

on:
    push:
        branches: ["master"]
env:
    staging-url : 'https://paprikabackground-staging.azurewebsites.net/'
    output_path: 'bin/Release/net6.0/publish/serviceApp'
    azure_web_name: PaprikaBackground
    artifact_name: chatapp_background
jobs:
    build:
        runs-on: windows-latest
        steps:
            - name: check out
              uses: actions/checkout@v3
            - name: Upload artifact
              uses: actions/upload-artifact@v2
              with:
                name: ${{env.artifact_name}}
                path: ${{env.output_path}}

    deploy:
        needs: build
        runs-on: windows-latest
        environment:
            name: staging
            url: ${{env.staging-url}}
        
        steps:
            - name: download artifact
              uses: actions/download-artifact@v2
              with:
                 name: ${{env.artifact_name}}
            - name: Deploy to azure
              uses: azure/webapps-deploy@v2
              with:
                app-name: ${{env.azure_web_name}}
                publish-profile: ${{ secrets.AzureAppService_PublishProfile}}
                package: './serviceApp'
