name: Deploy to Azure

on:
    push:
        branches: ["master"]
env:
    staging-url : 'https://paprikabackground-staging.azurewebsites.net/'
    output_path: ' D:\a\Event-bus-App\Event-bus-App\bin\Release\net6.0\publish\serviceApp\'
    azure_web_name: PaprikaBackground
    artifact_name: chatapp_background
jobs:
    build:
        runs-on: windows-latest
        steps:
            - name: Check if file exist
              uses: andstor/file-existence-action@v2
              with: 
                 files: D:\a\Event-bus-App\Event-bus-App\bin\Release\net6.0\publish\serviceApp\BackgroundService.dll
            - name: check out
              uses: actions/checkout@v3
            - name: Upload artifact
              uses: actions/upload-artifact@v2
              with:
                name: ${{env.artifact_name}}
                path: ${{env.output_path}}
                if-no-files-found: error

    deploy:
        needs: build
        runs-on: windows-latest
        environment:
            name: staging
            url: ${{env.staging-url}}
        
        steps:
            - name: check out
              uses: actions/checkout@v3
            - name: download artifact
              uses: actions/download-artifact@v2
              with:
                 name: ${{env.output_path}}
            - name: Deploy to azure
              uses: azure/webapps-deploy@v2
              with:
                app-name: ${{env.azure_web_name}}
                publish-profile: ${{ secrets.AzureAppService_PublishProfile}}
                package: './serviceApp'
